ADMIN_PASSWORD=replace-with-a-long-random-password
SESSION_SECRET=replace-with-at-least-32-random-characters
DEFAULT_REDIRECT_URL=https://linktr.ee/clipper.jta?utm_source=qr_code
PUBLIC_REDIRECT_ORIGIN=https://zwiterion98.github.io
# BLOB_READ_WRITE_TOKEN is added automatically when a private Vercel Blob store is connected.
